<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h1>Sign In</h1>
    <button mat-button color="accent" [routerLink]="['/register']">
      Need an account?
    </button>
    <app-backend-error-messages [value]="backendErrors$"></app-backend-error-messages>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="isSubmitting$ | async">
      Sign in
    </button>
  </div>
</form>



<!--<div class="auth-page">-->
<!--  <div class="container page">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 offset-md-3 col-xs-12">-->
<!--        <h1 class="text-xs-center">Sign In</h1>-->
<!--        <p class="text-xs-center">-->
<!--          <a [routerLink]="['/register']">Need an account?</a>-->
<!--        </p>-->
<!--        <app-backend-error-messages [value]="backendErrors$"></app-backend-error-messages>-->
<!--        <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--          <fieldset>-->
<!--            <fieldset class="form-group">-->
<!--              <input-->
<!--                type="text"-->
<!--                class="form-control form-control-lg"-->
<!--                placeholder="Email"-->
<!--                formControlName="username"-->
<!--              />-->
<!--            </fieldset>-->
<!--            <fieldset class="form-group">-->
<!--              <input-->
<!--                type="password"-->
<!--                class="form-control form-control-lg"-->
<!--                placeholder="Password"-->
<!--                formControlName="password"-->
<!--              />-->
<!--            </fieldset>-->
<!--            <button-->
<!--              class="btn btn-lg btn-primary pull-xs-right"-->
<!--              type="submit"-->
<!--              [disabled]="isSubmitting$ | async"-->
<!--            >-->
<!--              Sign in-->
<!--            </button>-->
<!--          </fieldset>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
