<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <h1>Sign Up</h1>
    <div>
      <a [routerLink]="['/login']">Have an account?</a>
    </div>
    <div>
      BackendErrors are here
    </div>
    <input
      type="text"
      placeholder="Username"
      formControlName="username"
    />
    <input
      type="text"
      placeholder="Email"
      formControlName="email"
    />
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <button mat-flat-button color="primary" type="submit">
      Sign up
    </button>
  </div>
</form>
