@import "@angular/material/theming";

// Copy colour palettes individually
$primary-palette: mat-palette($mat-deep-purple);
$accent-palette: mat-palette($mat-amber);

// Create variables to use in project
$primary: mat-color($primary-palette);
$accent: mat-color($accent-palette);

$primary-light: mat-color($primary-palette, 50);
$accent-light: mat-color($accent-palette, 50);
